<%- include('partials/header') -%>


<section class="p-5 m-4">
  <div class="container-fluid">
    <div class="text-center">
      <h1 style="color: black;">About Us</h1>
      <p class="py-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, maxime sed!</p>
    </div>

 <!-- Why Us Section -->
<div class="row justify-content-center text-center">
  <div class="col-md-4">
      <h1 class="display-4 mb-4" style="color: black;">Why Us?</h1>
      <div class="underline mb-4"></div>
  </div>
</div>


    <!-- Features Section -->
    <div class="row my-5">
      <div class="col-md-4 text-center">
        <i class="fas fa-shipping-fast fa-5x text-danger mb-4"></i>
        <h1>Fast Delivery</h1>
        <p>Around 5-7 days</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-hand-holding-usd fa-5x text-danger mb-4"></i>
        <h1>Best Prices</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="far fa-arrow-alt-circle-up fa-5x text-danger mb-4"></i>
        <h1>Top Quality</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, ab!</p>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') -%>
