<%- include('partials/header') -%>



<form action="" >
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col">
                <div class="card-body bg-light justify-content-center">
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="../images/guitar1.jpg" style="display: inline-block; height: 15rem; width: 15rem;" alt="Guitar Image">
                            <div class="p-4 text-center">
                                <div class="row">
                                    <div class="col-6">
                                        <button type="button" id="edit" class="btn btn-warning py-2">Edit</button>
                                    </div>
                                    <div class="col-6">
                                        <button type="submit" id="submit" class="btn p-2 f btn-warning py-2" disabled>Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-6">
                                    <label for="name">Product Name</label>
                                    <div class="input-group mb-3">
                                        <input type="text" value="Conde Hermanos Atocha Flamenco Guitar" name="name" id="product-name" disabled class="form-control f">
                                    </div>
                                    <label for="description">Product Description</label>
                                    <div class="input-group mb-3">
                                        <input type="text" value="Best Quality Flamenco Guitars" name="description" id="product-description" disabled class="form-control f">
                                    </div>
                                    <label for="category">Product Category</label>
                                    <div class="input-group mb-3">
                                        <input type="text" value="Flamenco Guitar" name="category" id="product-category" disabled class="form-control f">
                                    </div>
                                    <label for="brand">Product Brand</label>
                                    <div class="input-group mb-3">
                                        <input type="text" value="Conde Atocha" name="brand" id="product-brand" disabled class="form-control f">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label for="quantity">Product Quantity</label>
                                    <div class="input-group mb-3">
                                        <input type="text" value="10" name="quantity" id="product-quantity" disabled class="form-control f">
                                    </div>
                                    <label for="price">Product Price</label>
                                    <div class="input-group mb-3">
                                        <input type="text" value="5000$" name="price" id="product-price" disabled class="form-control f">
                                    </div>
                                    <label for="size">Product Size</label>
                                    <div class="input-group mb-3">
                                        <input type="text" value="660 mm" name="size" id="product-size" disabled class="form-control f">
                                    </div>
                                    <label for="image">Product Image</label>
                                    <div class="input-group mb-3">
                                        <input type="text" value="../images/guitar2.jpg" name="image" id="product-image" disabled class="form-control f">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>

<!-- Your custom scripts -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#edit').click(function () {
            $('.f').removeAttr('disabled');
            $('#submit').removeAttr('disabled');
        });

        $('#submit').click(function (event) {
            event.preventDefault(); // Prevent form submission
            $('.f').attr('disabled', 'disabled');
            $('#submit').attr('disabled', 'disabled');
        });
    });
</script>








    <%- include('partials/footer') -%>
