<%- include('partials/header') -%>


    <div class="container-fluid">
        <div class="row py-3">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="row py3">
                    <div class="progress bg-secondary mb-3">
                        <div class="progress-bar bg-warning" style="width: 75%;"></div>
                    </div>
                </div>
                <div class="row pb-5">
                    <div class="col-3">Sign in</div>
                    <div class="col-3">Shipping</div>
                    <div class="col-3">Payment</div>
                    <div class="col-3">Place Order</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="row py-3">
                    <div class="col">
                        <div class="card bg-light mb-3">
                            <div class="card-header">
                                Address: Village, Street, Building
                            </div>
                            <div class="cad-body m-3">
                                <h5 class="card-title">City</h5>
                                <div class="row">
                                    <div class="col-6">
                                        <p class="card-text">444-444-444</p>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn float-end btn-outline-primary">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card bg-light mb-3">
                            <div class="card-header">Payment</div>
                            <div class="card-body">
                                <h5 class="card-title">Cash on Delivery</h5>
                                <p class="card-text">Free Delivery on all orders above 50$</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card bg-light mb-3">
                            <div class="card-header">
                                <p style="display:inline-block;">Your items</p>
                                <p class="float-end " style="display: inline-block;">Prices</p>
                            </div>
                            <div class="card-body justify-content-center">
                                <form action="">
                                    <div class="row">
                                        <div class="col-3">
                                            <img src="../images/guitar1.jpg" alt=""
                                                style="display: inline-block; height: 5rem; width: 5rem;">
                                        </div>
                                        <div class="col-9">
                                            <div>
                                                <p style="display: inline-block;">Graciliano Perez</p>
                                                <p style="display: inline-block;" class="float-end">2500$</p>
                                            </div>
                                            <p>Quantity: <span>3</span></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6"></div>
                                        <div class="col-6">
                                            <button class="btn btn-danger float-right" type="submit">Remove</button>
                                        </div>
                                    </div>
                                </form>
                                <hr>
                                <form action="">
                                    <div class="row">
                                        <div class="col-3">
                                            <img src="../images/guitar1.jpg" alt=""
                                                style="display: inline-block; height: 5rem; width: 5rem;">
                                        </div>
                                        <div class="col-9">
                                            <div>
                                                <p style="display: inline-block;">Graciliano Perez</p>
                                                <p style="display: inline-block;" class="float-end">2500$</p>
                                            </div>
                                            <p>Quantity: <span>3</span></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6"></div>
                                        <div class="col-6">
                                            <button class="btn btn-danger float-right" type="submit">Remove</button>
                                        </div>
                                    </div>
                                </form>
                                <hr>
                                <form action="">
                                    <div class="row">
                                        <div class="col-3">
                                            <img src="../images/guitar1.jpg" alt=""
                                                style="display: inline-block; height: 5rem; width: 5rem;">
                                        </div>
                                        <div class="col-9">
                                            <div>
                                                <p style="display: inline-block;">Graciliano Perez</p>
                                                <p style="display: inline-block;" class="float-end">2500$</p>
                                            </div>
                                            <p>Quantity: <span>3</span></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6"></div>
                                        <div class="col-6">
                                            <button class="btn btn-danger float-right" type="submit">Remove</button>
                                        </div>
                                    </div>
                                </form>
                                <hr>
                                <form action="">
                                    <div class="row">
                                        <div class="col-3">
                                            <img src="../images/guitar1.jpg" alt=""
                                                style="display: inline-block; height: 5rem; width: 5rem;">
                                        </div>
                                        <div class="col-9">
                                            <div>
                                                <p style="display: inline-block;">Graciliano Perez</p>
                                                <p style="display: inline-block;" class="float-end">2500$</p>
                                            </div>
                                            <p>Quantity: <span>3</span></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6"></div>
                                        <div class="col-6">
                                            <button class="btn btn-danger float-right" type="submit">Remove</button>
                                        </div>
                                    </div>
                                </form>
                                <hr>
                                <form action="">
                                    <div class="row">
                                        <div class="col-3">
                                            <img src="../images/guitar1.jpg" alt=""
                                                style="display: inline-block; height: 5rem; width: 5rem;">
                                        </div>
                                        <div class="col-9">
                                            <div>
                                                <p style="display: inline-block;">Graciliano Perez</p>
                                                <p style="display: inline-block;" class="float-end">2500$</p>
                                            </div>
                                            <p>Quantity: <span>3</span></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6"></div>
                                        <div class="col-6">
                                            <button class="btn btn-danger float-right" type="submit">Remove</button>
                                        </div>
                                    </div>
                                </form>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-5">
                <div class="row py-3">
                    <div class="col">
                        <div class="card bg-light mb-3">
                            <form action="">
                                <div class="card-header text-center">
                                    <button style="width: 65%;" class="btn btn-warning" onclick="return confirmOrder();"
                                        type="button" name="action">Place Order</button>
                                </div>
                                <div class="card-body">
                                    <div class="card-title">Order Summary</div>
                                    <div class="row">
                                        <div class="col-6">Items:</div>
                                        <div class="col-6">$700</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">Delivery:</div>
                                        <div class="col-6">Free</div>
                                    </div>
                                    <div class="row py-3">
                                        <div class="col-6">Order Total:</div>
                                        <div class="col-6">$700</div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card bg-light mb-3">
                            <div class="card-header">
                                <p style="display: inline-block;">Your Purchases</p>
                                <p class="float-end" style="display: inline-block;">Received</p>
                            </div>
                            <div class="card-body justify-content-center">
                                <div>
                                    <p style="display: inline-block;">Order Date: 26/09/2024</p>
                                    <button class="float-end btn btn-success">Received</button>
                                </div>
                                <div class="row ms-1">Total is :1200$</div>
                                <hr>
                                <div>
                                    <p style="display: inline-block;">Order Date: 26/09/2024</p>
                                    <button class="float-end btn btn-danger">Pending</button>
                                </div>
                                <div class="row ms-1">Total is :1200$</div>

                                <hr>
                                <div>
                                    <p style="display: inline-block;">Order Date: 26/09/2024</p>
                                    <button class="float-end btn btn-success">Received</button>
                                </div>
                                <div class="row ms-1">Total is :1200$</div>

                                <hr>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>















    <%- include('partials/footer') -%>
